In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.read_csv('VerFreq.csv')

In [5]:
df.head(1)

        Unnamed: 0    0    1   2  3
0  ('#rt', '#cdc')  126  193  11  0

In [6]:
df.columns=['vertices','neg','netr','po','mix']

In [7]:
df.head(1)

          vertices  neg  netr  po  mix
0  ('#rt', '#cdc')  126   193  11    0

In [8]:
def strTotuple(b):
    b=b.split(' ')
    b[0]=b[0].lstrip("('")
    b[0]=b[0].rstrip("',")
    b[1]=b[1].lstrip("'")
    b[1]=b[1].rstrip("')")
    
    return tuple(b)

In [9]:
a=strTotuple(df.vertices[0])

In [10]:
a[0]
a[1]

'#rt'

'#cdc'

In [11]:
df['v1']=0
df['v2']=0
df.head(1)

          vertices  neg  netr  po  mix  v1  v2
0  ('#rt', '#cdc')  126   193  11    0   0   0

In [12]:
for i in range(0,len(df)):
    t=strTotuple(df.vertices[i])
    df.v1[i]=t[0]
    df.v2[i]=t[1]
    
    if i%10000==0:
        print(i)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000

In [13]:
len(df)

282889

In [14]:
df.head(1)

          vertices  neg  netr  po  mix   v1    v2
0  ('#rt', '#cdc')  126   193  11    0  #rt  #cdc

In [15]:
l=list(df['v1'])+list(df['v2'])
len(l)
verSet=set(l)

565778

In [16]:
verlist=list(verSet)

In [17]:
len(verSet)

9321

In [18]:
verdf=pd.DataFrame()
verdf['key']=verlist

In [19]:
verdf['tag']=[i for i in range(0,len(verdf))]
verdf.head(1)

    key  tag
0  #pkp    0

In [20]:
verdf.columns=['tag','key']

In [21]:
verdf.to_csv('dfVer.csv')

In [22]:
df.head(1)

          vertices  neg  netr  po  mix   v1    v2
0  ('#rt', '#cdc')  126   193  11    0  #rt  #cdc

In [23]:
df=df.merge(verdf,how='left',left_on='v1',right_on='tag')

In [24]:
len(df)
df.rename(columns={'key':'key1'},inplace=True)
df.drop(['tag'],inplace=True,axis=1)
df.head(1)

282889

          vertices  neg  netr  po  mix   v1    v2  key1
0  ('#rt', '#cdc')  126   193  11    0  #rt  #cdc  7541

In [25]:
df=df.merge(verdf,how='left',left_on='v2',right_on='tag')

In [26]:
df.head(1)
len(df)

          vertices  neg  netr  po  mix   v1    v2  key1   tag   key
0  ('#rt', '#cdc')  126   193  11    0  #rt  #cdc  7541  #cdc  7183

282889

In [27]:
df.rename(columns={'key':'key2'},inplace=True)
df.drop(['tag'],inplace=True,axis=1)
df.head(1)

          vertices  neg  netr  po  mix   v1    v2  key1  key2
0  ('#rt', '#cdc')  126   193  11    0  #rt  #cdc  7541  7183

In [54]:
df1 = pd.DataFrame(
    {'trial_num': [1, 2, 3, 1, 2, 3],
     'subject': [1, 1, 1, 2, 2, 2],
     'samples': [list(np.random.randn(3).round(2)) for i in range(6)]
    }
)

type(df1.samples[0])

list

In [59]:
l=[[1,23],[2,3,4],[1,1,1,]]
a=pd.DataFrame()

In [60]:
a['in']=l

In [61]:
a

          in
0    [1, 23]
1  [2, 3, 4]
2  [1, 1, 1]

In [28]:
#df['value']=0
value=[]
for i in range(0,len(df)):
    l=[]
    for a in ['neg','netr','po','mix']:
        l.append(df[a][i])
    value.append(l)
    
    if i%10000==0:
        print(i)
    
len(value)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000

282889

In [29]:
df['value']=value

In [42]:
a=[2,3,4]
type(a)

list

In [30]:
df.head(1)

,vertices,neg,netr,po,mix,v1,v2,key1,key2,value
0,"('#rt', '#cdc')",126,193,11,0,#rt,#cdc,7541,7183,"[126, 193, 11, 0]"

In [31]:
df.to_csv('dflink.csv')

In [5]:
df=pd.read_csv('dflink.csv')

In [6]:
df.head(1)

,Unnamed: 0,vertices,neg,netr,po,mix,v1,v2,key1,key2,value
0,0,"('#rt', '#cdc')",126,193,11,0,#rt,#cdc,7541,7183,"[126, 193, 11, 0]"

In [7]:
def GetMax(l):
    temp=0
    index=-1
    for i in range(0,4):
        if l[i]>temp:
            temp=l[i]
            index=i
            
    
    return temp,index

In [20]:
df[['neg','netr','po','mix']].head()

   neg  netr  po  mix
0  126   193  11    0
1   47   726  12    0
2  191   146   0    0
3  192   947  51    0
4   12   440   0    0

In [23]:
df['max']=df[['neg','netr','po','mix']].max(axis=1)
df['max_label']=np.argmax(np.array(df[['neg','netr','po','mix']]),axis=1)
df[100:110]

,Unnamed: 0,vertices,neg,netr,po,mix,v1,v2,key1,key2,value,max,max_label
100,100,"('#deadly', '#common')",3,0,0,0,#deadly,#common,2233,1175,"[3, 0, 0, 0]",3,0
101,101,"('#deadly', '#death')",9,5,0,0,#deadly,#death,2233,6239,"[9, 5, 0, 0]",9,0
102,102,"('#deadly', '#people')",32,5,0,0,#deadly,#people,2233,67,"[32, 5, 0, 0]",32,0
103,103,"('#common', '#death')",5,4,0,0,#common,#death,1175,6239,"[5, 4, 0, 0]",5,0
104,104,"('#common', '#people')",76,12,1,0,#common,#people,1175,67,"[76, 12, 1, 0]",76,0
105,105,"('#death', '#people')",149,37,1,1,#death,#people,6239,67,"[149, 37, 1, 1]",149,0
106,106,"('#rt', '#stay')",241,215,46,0,#rt,#stay,7541,8411,"[241, 215, 46, 0]",241,0
107,107,"('#rt', '#fuck')",12,0,0,0,#rt,#fuck,7541,3982,"[12, 0, 0, 0]",12,0
108,108,"('#rt', '#away')",34,214,39,0,#rt,#away,7541,4885,"[34, 214, 39, 0]",214,1
109,109,"('#rt', '#49')",71,5,1,0,#rt,#49,7541,5663,"[71, 5, 1, 0]",71,0

In [24]:
df.max_label.unique()

array([1, 0, 2, 3])

In [26]:
df.to_csv('fulldf.csv')